/* 
color scheme:
- white         #fffffff
- light yellow  #fffcd7
- orange        #f0bb62 
- red           #a31621
- gray green    #519259
- black         #000000
*/

:root {
  --custom-light-yellow: #fffcd7;
  --custom-orange: #f0bb62;
  --custom-red: #a31621;
  --custom-green: #519259;
  --custom-black: #000000;
}

/* ------------------------------------------------------ */
/* window sizing */
@media (max-width: 500px) {
  body {
    margin-left: 10%;
  }
}
@media (min-width: 900px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1200px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 1400px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* ------------------------------------------------------ */
/* fonts */

/* <weight>: Use a value from 100 to 900 */
p,
li {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 1000;
}

.p-bolded {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bolder;
}

h2 {
  font-size: 45px;
  color: var(--custom-orange);
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 720;
  text-transform: uppercase;
  z-index: 1000;
}

h3 {
  font-size: 35px;
  color: var(--custom-green);
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  z-index: 1000;
}

/* <weight>: Use a value from 400 to 900 */
h4 {
  color: var(--custom-green);
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ------------------------------------------------------ */

/* Main Layout */
.page {
  width: 100%;
  height: 500px;
}

.half-page {
  width: 100%;
  height: 300px;
}

.placeholder {
  background-color: var(--custom-black);
  width: 200px;
  height: 80%;
}

.floater {
  position: absolute;
  z-index: -5;
}

/* ------------------------------------------------------ */

/* Hero */
.hero {
  width: 100%;
  height: 60%;
  background-color: var(--custom-light-yellow);
}

.face {
  position: relative;
  background-color: var(--custom-black);
  width: 130%;
  height: auto;
  border-radius: 70%;
  z-index: 200;
}

.hero-text {
  padding-top: 30px;
  width: 430px;
  height: 80%;
}

.before {
  background-color: var(--custom-green);
  top: -70px;
  left: -80px;
  width: 250px;
  height: 140px;
  z-index: 10;
}

.after {
  background-color: var(--custom-orange);
  top: 200px;
  left: -35px;
  z-index: 300;
  width: 85px;
  height: 180px;
}

@media (max-width: 769px) {
  .hero.hori-center {
    flex-direction: column;
    height: 95%;
    top: 50%;
    gap: 0;
  }

  .hero-text {
    padding-top: 0;
    width: 85%;
  }

  .face {
    margin-left: 45%;
    margin-bottom: 20%;
    width: 100%;
  }

  .before {
    top: -10px;
    left: 0px;
    width: 260px;
    height: 120px;
  }

  .after {
    top: 130px;
    left: 270px;
    width: 40px;
    height: 110px;
  }

  .after2 {
    background-color: var(--custom-orange);
    width: 160px;
    height: 100px;
    z-index: 300;
    top: 100px;
    left: -175px;
  }
}

/* ------------------------------------------------------ */

/* Portfolio */
.portfolio-title {
  padding-bottom: 21.5px;
  padding-left: 21.5px;
  z-index: 100;
}

.portfolio-line {
  background-color: var(--custom-orange);
  width: 100%;
  height: 10px;
  top: 22.5px;
  z-index: -20;
}

.portfolio-highlight {
  background-color: white;
  top: -100px;
  left: 30px;
  width: 323px;
  height: 300px;
  z-index: -10;
}

.portfolio-grid {
  display: grid;
  height: 100%;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 4fr 6fr;
  column-gap: 110px;
  row-gap: 20px;
}

@media (max-width: 769px) {
  .portfolio-grid {
    height: 80%;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) {
  .back-panel-flex {
    display: flex;
    top: 3.5%;
    left: -0.1%;
    height: 93%;
    width: 42%;
    z-index: -2;
    gap: 12px;
  }

  .back-panel {
    background-color: var(--custom-green);
    flex: 15;
  }

  .back-panel-support {
    background-color: var(--custom-green);
    flex: 1;
  }
}

/* ------------------------------------------------------ */

/* Resume */
.resume-title {
  top: -50px;
  padding-bottom: 21.5px;
  margin-left: 60%;
  z-index: 10;
}

.resume-line {
  background-color: var(--custom-orange);
  left: 42%;
  width: 59%;
  height: 10px;
  top: -28px;
  z-index: 2;
}

.resume-highlight {
  background-color: white;
  top: -50px;
  left: 60.5%;
  width: 250px;
  height: 80px;
  z-index: 4;
}

.resume-echo {
  user-select: none;
  z-index: 5;
  top: -32.5px;
  opacity: 20%;
}

.resume-echo2 {
  top: -10px;
  opacity: 20%;
}

.resume-grid {
  display: grid;
  height: 60%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 45px;
  row-gap: 20px;
}

.extra-space {
  padding-top: 50px;
}

.box1 {
  outline: 3px solid var(--custom-orange);
  width: 100%;
  height: 100%;
  top: 25%;
  left: -5%;
}

.box3 {
  outline: 3px solid var(--custom-green);
  width: 110%;
  height: 105%;
  top: -5%;
  left: -3%;
}

.box4 {
  outline: 3px solid var(--custom-green);
  width: 15%;
  height: 22%;
  top: 104%;
  left: 80%;
  z-index: 5;
}

@media (min-width: 500px) {
  .box2 {
    outline: 3px solid var(--custom-green);
    width: 18%;
    height: 35%;
    top: 110%;
    left: 85%;
  }
  .box5 {
    outline: 3px solid var(--custom-orange);
    width: 15%;
    height: 8%;
    top: 100%;
    left: 70%;
    z-index: 5;
  }
}

@media (max-width: 769px) {
  .resume-title {
    margin-left: 40%;
  }
  .resume-line {
    left: 30%;
    width: 80%;
  }
  .resume-highlight {
    left: 40.5%;
  }
}

@media (max-width: 500px) {
  .resume-grid {
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .empty-space-item {
    order: -1;
  }

  .extra-space {
    padding-top: 0;
  }

  .box1 {
    top: -1%;
    height: 220%;
  }

  .box3 {
    left: -5%;
    width: 109.5%;
  }

  .box4 {
    left: 85%;
    top: 112%;
  }
}

/* ------------------------------------------------------ */

/* About */
.about-line {
  background-color: var(--custom-orange);
  width: 49.5%;
  height: 10px;
  top: 22.5px;
  z-index: 1;
}

.about-highlight {
  background-color: white;
  top: 0px;
  left: 30px;
  width: 303px;
  height: 60px;
  z-index: 2;
}

.two-column {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.column {
  flex: 1;
}

.description {
  flex: 8;
}

.about-text {
  margin-left: 15px;
  margin-top: 15px;
  padding-right: 60px;
}

@media (max-width: 769px) {
  .about-text {
    padding-right: 0;
  }
}

.silly {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.silly-item {
  flex: 2;
}

.hobbies {
  flex: 1;
}

/* ------------------------------------------------------ */

/* Contact */
.contact-highlight {
  background-color: white;
  top: -100px;
  left: 30px;
  width: 270px;
  height: 300px;
  z-index: -10;
}

.card-and-text {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 100px;
}

.contact-card {
  margin-top: 20px;
  margin-left: 18%;
  padding: 20px;
  width: 100%;
  height: 75%;
  border: 3px solid var(--custom-green);
}

.contact-card p {
  margin-bottom: 0;
}

.contact-message {
  text-align: right;
  padding: 20px;
  margin-top: 20px;
  margin-right: 50px;
}

/* ------------------------------------------------------ */

/* Support */
input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  margin-bottom: 10px;
  width: 80%;
}

.vert-center {
  display: flex;
  flex-direction: vertical;
  align-items: center;
}

.hori-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.anchor {
  position: relative;
}

.img-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.spacing {
  height: 35px;
}

@media (min-width: 769px) {
  .desktop-spacing {
    height: 35px;
  }
}
@media (max-width: 500px) {
  .phone-spacing {
    height: 35px;
  }
}
@media (max-width: 769px) {
  .contact-spacing {
    height: 35px;
  }
}

.echo {
  user-select: none;
  z-index: 10;
  top: 17px;
  opacity: 20%;
}

.echo2 {
  top: 38px;
  opacity: 20%;
}

.right-text-margin {
  margin-right: 30px;
}

/* ------------------------------------------------------ */

/* Background wave */
.background-wave {
  display: flex;
  flex-direction: column;
  top: -865px;
  left: 50.65%;
  width: 44.5%;
  height: 1050px;
  gap: 10px;
  z-index: -100;
}

.first-lap {
  flex: 8;
}

.lap {
  background-color: var(--custom-light-yellow);
}

@media (max-width: 769px) {
  .background-wave {
    width: 55%;
  }

  .first-lap {
    flex: 11;
  }
}
